<div class="row flex-lg-row-reverse align-items g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="/img/r1.jpeg" width="607" height="510" class="d-block mx-lg-auto img-fluid" loading="lazy" alt="Cooking with Node js ">
    </div>
    <div class="col-12 col-lg-6">
         <h1 class="display-5 fw-bold mb-3" >Huge Selction of recipes ideas </h1>
         <p class="lead">
            Explore our huge Selection of Delicious recipe ideas including: easy desserts, faimli-friendly meals and guelten recipes.
         </p>
         <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me--md-2">Explore Latest</a>
            <a href="/explore-random" class="btn btn-outline-secondary  btn-lg px-4 me--md-2">Show Random</a>
         </div>
    </div>

</div>



<!--categries start-->
<div class="row row-cols-2 row-cols-lg-6 g-2 g-lg-3 py-4">

    <% if (categories !='') { %>

    <% categories.forEach(function (category, index) {%>
        <a href="/categories/<%-category.name %>" class="col text-center category_link">
        <div class="category_img shadow">
            <img src="img/<%- category.image %>" alt="<%- category.name %>" loading="lazy">
        </div>
        <div class="pt-1">
            <%- category.name %>
        </div>
    </a>
    <% }) %>
   <% } %>


    <a href="/categories" class="col text-center category_link">
        <div class="category_img shadow">
            <img src="img/r1.jpeg" alt="view all categories" loading="lazy">
        </div>
        <div class="pt-1">
            View All
        </div>
    </a>
</div>


<!--categries end-->

<!--Latest start-->

<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Latest Recipes</h2>
        <a href="/explore-latest" class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

        <% if (food !='') { %>
            <% food.latest.forEach(function(recipe, index){ %>
        <a href="/recipe/<%= recipe._id %>" class="col  text-center category_link">
            <div class="category_img category_img--large shadow">
                <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
            </div>
            <div class="pt-1"><%= recipe.name %></div>
        </a>
        <% }) %>
        <% } else { %>
            <p>Items not found</p>
           <% } %>

    </div>
</section>


<!--Latest end-->




<!--Paksitani start-->

<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Pakistani Recipes</h2>
        <a href="/categories/Pakistani" class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

        <% if(typeof food.Pakistani !=='undefined' && food.Pakistani.length>0) { %>
            <% food.Pakistani.forEach(function(recipe, index){ %>
        <a href="/recipe/<%= recipe._id %>" class="col  text-center category_link">
            <div class="category_img category_img--large shadow">
                <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
            </div>
            <div class="pt-1"><%= recipe.name %></div>
        </a>
        <% }) %>
       <% } else { %>
        <p>Items not found</p>
       <% } %>

    </div>
</section>


<!--Pakistani end-->


<!--American start-->

<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>American Recipes</h2>
        <a href="/categories/American" class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

        <% if(typeof food.American !=='undefined' && food.American.length>0) { %>
            <% food.American.forEach(function(recipe, index){ %>
        <a href="/recipe/<%= recipe._id %>" class="col  text-center category_link">
            <div class="category_img category_img--large shadow">
                <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
            </div>
            <div class="pt-1"><%= recipe.name %></div>
        </a>
        <% }) %>
        <% } else { %>
            <p>Items not found</p>
           <% } %>

    </div>
</section>


<!--American end-->


<!--Thai start-->

<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Thai Recipes</h2>
        <a href="/categories/Thai" class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

        <% if(typeof food.Thai !=='undefined' && food.Thai.length>0) { %>
            <% food.Thai.forEach(function(recipe, index){ %>
        <a href="/recipe/<%= recipe._id %>" class="col  text-center category_link">
            <div class="category_img category_img--large shadow">
                <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
            </div>
            <div class="pt-1"><%= recipe.name %></div>
        </a>
        <% }) %>
        <% } else { %>
            <p>Items not found</p>
           <% } %>

    </div>
</section>
<!-- Thai End-->



<!--Chines start-->

<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Chines Recipes</h2>
        <a href="/categories/Chines" class="ms-auto">View More</a>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">

        <% if(food.Chines !='') { %>
            <% food.Chines.forEach(function(recipe, index){ %>
        <a href="/recipe/<%= recipe._id %>" class="col  text-center category_link">
            <div class="category_img category_img--large shadow">
                <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
            </div>
            <div class="pt-1"><%= recipe.name %></div>
        </a>
        <% }) %>
        <% } else { %>
            <p>Items not found</p>
           <% } %>

    </div>
</section>


<!--Chines end-->





<!--Submit start-->
<section class="px-4 py-5 my-5 text-center ">
    <img src="img/publish2.jpeg" class="d-block  mx-auto mb-4 img-fluid" alt="publish yur Recipe for free today" width="566" height="208" loading="lazy"> 
    <h1 class="display-5 fw-bold">Publish Your Recipe For Free Today</h1>
    <div class="col-log-6 mx-auto">
        <p class="lead mb-4">
            Publish Your Recipe in front of thousand of people for free 
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/submit-recipe" class="btn btn-primary btn-dark btn-lg">Submit Recipe</a>
        </div>
    </div>
</section>

<!--Submit End-->